# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#project files
*.layout
*.depend
*.dat
kost_gnuplot
test_accuracy
quick_test
ValgrindOut.xml
test.plot
CppCheckResults.xml
doc/html/
doc/latex/
doc/doxygen.log
